In [1]:
import numpy as np
import pandas as pd

In [2]:
record = pd.read_excel('./dataset/data_6.1~6.15.xlsx')

In [5]:
record.head()

,month,date,start time,end time,latitude,longitude,user id
0,201406,1,2014-06-01 10:22:36,2014-06-01 11:09:52,31.237872,121.470259,edbc54bddf16494a49f39ac057b4185d
1,201406,1,2014-06-01 07:00:37,2014-06-01 08:49:20,31.237872,121.470259,f8206ab58b9bdb070673f7050242e9ee
2,201406,1,2014-06-01 02:49:16,2014-06-01 05:49:12,31.237872,121.470259,f8206ab58b9bdb070673f7050242e9ee
3,201406,1,2014-06-01 08:51:58,2014-06-01 09:20:50,31.237872,121.470259,f8206ab58b9bdb070673f7050242e9ee
4,201406,1,2014-05-31 23:49:10,2014-06-01 02:49:07,31.237872,121.470259,f8206ab58b9bdb070673f7050242e9ee

In [17]:
record['address'] = record.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)

In [23]:
record.address.describe()

count      611506
unique       2770
top       nan-nan
freq        47592
Name: address, dtype: object