In [30]:
import os
import numpy as np
import pandas as pd

## Read Data

In [34]:
files_dir = './dataset/raw'
file_names = os.listdir(files_dir)
file_paths = [os.path.join(files_dir, fname) for fname in file_names]

In [37]:
pd_records_list = []

for fpath in file_paths:
    pd_record = pd.read_excel(fpath)
    pd_records_list.append(pd_record)

In [39]:
pd_record = pd.concat(pd_records_list)

## Data Analysis

In [45]:
pd_record.isna().sum()

month              0
date               0
start time         0
end time           0
latitude      716301
longitude     716301
user id            0
dtype: int64

## All

In [47]:
pd_record_all = pd_record.dropna()

In [48]:
pd_record_all['address'] = pd_record_all.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)

/var/folders/0b/ycd5f_h93hl0hnllky8xg7700000gn/T/ipykernel_80613/218630576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_record_all['address'] = pd_record_all.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)

In [51]:
pd_record_all.to_csv(f'./dataset/data_all.csv')

In [56]:
base_stations = pd_record_all[['latitude', 'longitude', 'address']].drop_duplicates()

In [75]:
base_stations = base_stations.reset_index()
base_stations['id'] = base_stations.index
base_stations.drop(['index'], axis=1)

       latitude   longitude               address    id
0     31.237872  121.470259  31.237872-121.470259     0
1     31.246946  121.513919  31.246946-121.513919     1
2     31.232877  121.487530   31.232877-121.48753     2
3     31.227933  121.453610   31.227933-121.45361     3
4     31.235682  121.487831  31.235682-121.487831     4
...         ...         ...                   ...   ...
3037  31.165863  121.398738  31.165863-121.398738  3037
3038  31.224027  121.423777  31.224027-121.423777  3038
3039  31.939262  109.456711  31.939262-109.456711  3039
3040  31.294732  121.496831  31.294732-121.496831  3040
3041  31.248969  121.473078  31.248969-121.473078  3041

[3042 rows x 4 columns]

In [76]:
base_stations.to_csv('./dataset/base_stations_all.csv')

## Min

In [77]:
pd_record_min =  pd_records_list[0]

In [78]:
pd_record_min = pd_record_min.dropna()
pd_record_min['address'] = pd_record_min.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)
pd_record_min.to_csv(f'./dataset/data_min.csv')

/var/folders/0b/ycd5f_h93hl0hnllky8xg7700000gn/T/ipykernel_80613/1641723281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_record_min['address'] = pd_record_min.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)

In [79]:
base_stations_min = pd_record_min[['latitude', 'longitude', 'address']].drop_duplicates()

In [82]:
base_stations_min = base_stations_min.reset_index()
base_stations_min['id'] = base_stations_min.index
base_stations_min.drop(['index'], axis=1)

      level_0   latitude   longitude               address    id
0           0  31.237872  121.470259  31.237872-121.470259     0
1           1  31.246946  121.513919  31.246946-121.513919     1
2           2  31.232877  121.487530   31.232877-121.48753     2
3           3  31.227933  121.453610   31.227933-121.45361     3
4           4  31.235682  121.487831  31.235682-121.487831     4
...       ...        ...         ...                   ...   ...
2764     2764  31.286523  121.538876  31.286523-121.538876  2764
2765     2765  31.254745  121.556081  31.254745-121.556081  2765
2766     2766  31.224006  121.423572  31.224006-121.423572  2766
2767     2767  31.209070  121.436851   31.20907-121.436851  2767
2768     2768  31.246433  121.443184  31.246433-121.443184  2768

[2769 rows x 5 columns]

In [83]:
base_stations_min.to_csv('./dataset/base_stations_min.csv')